@font-face {
    font-family: "Island";
    src: url(../fonts/IslandMoments-Regular.ttf);
}

@font-face {
    font-family: "Mon";
    src: url(../fonts/Montserrat-ExtraBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Mon";
    src: url(../fonts/Montserrat-ExtraLightItalic.ttf);
    font-weight: 300;
    font-style: italic;

}

